.square {
  width: 38px;
  height: 38px;
  padding: 1.5rem;
  border: 4px solid transparent;
}
.white {
  background-color: white;
}
.black {
  background-color: #777;
}
.board {
  border: 1px solid black;
  width: 700px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.piece {
  font-size: 2rem;
  cursor: pointer;
}
.possibleMove {
  border: 4px solid green;
}
.check {
  border: 4px solid red;
}
